h1 {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 96px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

h2 {
    font-size: 48px;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    background-color: lightskyblue;
}

img {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

main {
    margin-left: auto;
    margin-right: auto;   
}

.row {
    display: flex;
  }
  
.column {
    flex: 33.33%;
    padding: 5px;
  }

.bigcolumn {
    flex: 50%;
    padding: 5px;
}